/* reset default styles */

* {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  margin: 0;
  padding: 0;
}

tr {
  border-bottom: none;
}

th {
  text-align: left;
}

td,
th {
  border: 1px solid;
}

/* generic styles */

html,
body {
  /* take up full height*/
  height: 100%;
}

html {
  font-family: "Rubik", sans-serif;
  font-size: 14px;
}

body {
  background-color: rgb(30, 30, 30);
  color: white;
  display: flex;
  justify-content: center;
}

.body-container {
  width: clamp(300px, 80%, 500px);
}

h1 {
  font-size: 2.2rem;
  display: flex;
  justify-content: center;
}

h1,
table,
form {
  width: 100%;
  padding: 40px 0;
}

/* form */

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.input-container {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.input-header {
  margin-bottom: 10px;
}

input[type="text"] {
  font-size: 1rem;
  font-family: inherit;
  padding: 3px;
}

input[type="radio"] {
  margin-right: 3px;
}

input[type="submit"] {
  padding: 4px 8px;
  cursor: pointer;
}

/* table */

thead {
  font-weight: 700;
}

thead td {
  border-bottom: 1px solid white;
}

thead.hide-thead {
  /* will dynamically remove the thead when there are no books */
  display: none;
}

td {
  border: none;
  padding: 20px 5px;
}

.remove,
.read {
  cursor: pointer;
  text-align: center;
}

img[src$=".svg"] {
  width: 18px;
  height: auto;
}
