/* reset default styles */

* {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  margin: 0;
  padding: 0;
}

tr {
  border-bottom: none;
}

th {
  text-align: left;
}

td, th {
  border: 1px solid;
  padding: 10px;
}

/* generic styles */

html, body { /* take up full height*/
  height: 100%;
}

html {
  font-size: 16px;
}

/* body */

body {
  background-color: rgb(30, 30, 30);
  color: white;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 200px 1fr 1fr;
  align-items: center;
}

h1 {
  font-size: 2.2rem;
}

h1, .table-container, .form-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

table {
  width: 500px;
}

/* form */

form {
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.input-container {
  padding: 10px 0;
  display: flex;
  flex-direction: column;
}

label, .read, .submit-input-container {
  padding: 7px 0;
}

input[type="text"] {
  font-size: 1rem;
  font-family: inherit;
  padding: 3px;
}

input[type="radio"] {
  margin-right: 3px;
}

input[type="submit"] {
  margin-bottom: 17px;
}

.remove {
  cursor: pointer;
}
